$dark: #111;
$light: #fefefe;

$red: #f55;
$dark-red: #c00;

body {
    margin: 0;
    padding: 0;
    background: $light;
    color: $dark;
    font-family: 'Open Sans', 'Arial Narrow', Arial, sans-serif;
}

a {
    text-decoration: none;
    font-style: italic;
    color: $red;
}

a:hover {
    color: $dark-red;
}

p {
    line-height: 1.5em;
}

@for $i from 1 to 7 {
    h#{$i} {
        font-weight: 600;
    }
}

header {
    text-align: center;
    h1 {
        letter-spacing: .1em;
        margin-bottom: 0;
    }
    h2 {
        margin-top: 0; 
    }
    a {
        text-decoration: none;
        font-style: normal;

        &:visited {
            color: $dark;
        }
    }
}

nav {
    ul {
        padding: 0;

        display: flex;
        justify-content: center;

        li {
            list-style-type: none;
            padding: 0 1em;
        }
    }
}

.content {

    #page-title {
        font-size: 2em;
        font-weight: 600;
        font-style: italic;
    }

    margin: 0 auto;
    max-width: 600px;
}

footer {
    position: absolute;
    bottom: 0;

    height: 2em;
    width: 100%;
    text-align: center;
    
    background-color: $dark;
    color: $light;
}

#resume {
    p {
        margin-top: -.7em;
        line-height: 1.3em;
    }
}