<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ config.title }}</title>
    <link rel="stylesheet" href="{{ get_url(path="style.css") }}" />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
</head>
<body>
    <header>
        <h1><a href="/">Rutrum</a></h1>
        <nav>
            <ul>
                <li><a href="/code">Code</a></li>
                <li><a href="/math">Math</a></li>
                <li><a href="/resume">Resume</a></li>
            </ul>
        </nav>
    </header>
    <div class="content">
        {% block content %}
            {{ section.content | safe }}
        {% endblock content %}
    </div>
    <!-- <footer> Check out my github!  </footer> -->
</body>
</html>
